<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Prepare for your Horoscope!</h1>
    <form class="" method="post">
      <label for="user_astrological_sign">Your Astrological Sign:</label>
      <br>
      <select class="" name="user_astrological_sign">
         <option value="Aquarius">Aquarius</option>
         <option value="Pisces">Pisces</option>
         <option value="Aries">Aires</option>
         <option value="Taurus">Taurus</option>
         <option value="Gemini">Gemini</option>
         <option value="Cancer">Cancer</option>
         <option value="Leo">Leo</option>
         <option value="Virgo">Virgo</option>
         <option value="Libra">Libra</option>
         <option value="Scorpio">Scorpio</option>
         <option value="Sagittarius">Sagittarius</option>
         <option value="Capricorn">Capricorn</option>
      </select>
      <input type="submit" value="Align the Stars!">
    </form>
  </body>
</html>
